@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');


footer {
    background-color: #d32f2f;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100px;
}
  
